@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900|Inconsolata:400,700");
body, button, select {
  font-family: Montserrat;
  font-size: 20px;
  background: white;
  color: black;
  user-select: none;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
button {
  border: none;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #d9d9d9, -5px -5px 5px #ffffff;
}
button:hover {
  cursor: pointer;
}
button:active {
  box-shadow: inset 5px 5px 5px #d9d9d9, inset -5px -5px 5px #ffffff;
}
:focus {
  outline: none;
}
.modal {
  padding-top: 67px;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 250ms, transform 250ms;
  opacity: 0;
  transform: scale(0.8, 0.8);
  display: none;
  position: fixed;
  overflow-y: hidden;
  text-align: center;
  width: 100%;
  height: calc(100% - 67px);
  top: 0;
  left: 0;
  color: white;
}
.content {
  overflow-y: auto;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  box-shadow: inset 0 0 0 1px white;
}
::-webkit-scrollbar-thumb:active {
  background: #999;
  box-shadow: inset 0 0 0 1px white;
}
span.close:hover {
  cursor: pointer;
  background: red;
}
a {
  color: black;
  text-decoration: none;
}
.modal a {
  color: white;
}
a:hover {
  text-decoration: underline;
}
.titleBar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  padding: 15px;
  font-size: 30px;
  text-align: center;
  background: #ff5555;
}
.content table, .content th, .content td, #games table, #games th, #games td {
  border: 1px solid white;
}
.dice {
  font-size: 80px;
  width: 100px;
  height: 100px;
}
.table, .table th, .table td {
  border: 1px solid black;
  text-align: center;
}
.table {
  margin-left: auto;
  margin-right: auto;
}
kbd {
  border-radius: 2px;
  border: 1px solid black;
  background: #ddd;
  font-family: Inconsolata;
  font-weight: 700;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 0.85em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
}
small {
  font-size: 0.6em;
}
button[disabled=true] {
  cursor: not-allowed;
}
.scorecard td {
  width: 100px;
}
#grandtotal {
  font-weight: 900;
}
.held {
  background: #ffff00;
}
option[disabled] {
  color: #eee;
}
@media screen and (max-width: 900px) {
  td {
    height: 50px;
  }
}
pre {
  text-align: left;
  display: inline-block;
  outline: 1px solid white;
  padding: 5px;
}
#reset2 {
  background: #000;
  opacity: 0;
  transition-duration: 2s;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
  font-size: 50px;
  line-height: 40vh;
}
#reset2 a {
  color: white;
}
#messageContainer {
  transition-duration: 500ms;
  display: block;
}
#resetBkgd {
  transition: background 1s;
}